@import "tailwindcss";


#members{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url("../../../public/pictures/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  /* overflow: hidden; */
}

:root{
  --color-midnight: lch(82.83% 64.07 158.07);
  --color-tahiti: lch(100% 0.01 296.81);
  --color-bermuda: #1f578b;
}


.member-card {
  /* border-bottom: 2cap solid transparent; */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom-color 0.3s ease-in-out;
  overflow: hidden;
}
.member-card:hover {
  /* border-bottom-color: rgb(63, 129, 8); */
  cursor: pointer;
  transform: translate3d(10px, -5px, 10px);
  box-shadow: 0 10px 20px oklch(81.117% 0.13766 196.582);
}
.member-card::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2cap; 
      background-color: rgb(25, 154, 152);
      transform: scaleX(0);
      transform-origin: left; 
      transition: transform 0.3s ease-in-out;
}

.member-card:hover::after {
    transform: scaleX(1);
}

/* CSS for member names */
.m-name {
    font-size: 1.25rem; 
    font-weight: 600; 
    margin-top: 0.5rem; 
    color: var(--color-bermuda);
}