.booking-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.container-booking {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    height: 30rem;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #073575;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
    display: none;
}

.form-group.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #386a8e;
}

input, select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #2b87d7;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    outline: none;
    border-color: #1dd226;
    box-shadow: 0 0 5px rgba(46, 125, 50, 0.3);
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;
}

button.active {
    display: block;
}

button:hover {
    background-color: #388e3c;
}

.error {
    color: #d32f2f;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    display: none;
}