.gallery{
    position: relative;
    display: flex;
    flex-direction: column;
}

.parallax {
    position: fixed;
    top: 5cap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
}

.parallax h1, .parallax h3 {
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    margin: 0;
}
.parallax h1{
    margin-top: 3rem;
    font-size: 3em;
    color: rgb(36, 207, 107);
    font-weight: 600;
}
.parallax img{
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    opacity: 1;
    z-index: -1;
}

/* Gallery Section */
.gallery_sec {
    position: relative;
    top: 23cap;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    background-color: transparent;
    z-index: 1;
    
}

.gallery_sec img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 10;
}

.gallery_sec img:hover {
    transform: scale(1.05);
}

.pc_profile{
    position: relative;
    top: -55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 7px;
    color: #fff;
    gap: 0.5em;
}
.PC_img img{
    position: relative;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
/* Popup Styling */
.popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    max-width: 100%;
    max-height: 90%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    padding: 5px;
}

.popup-content img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 10px;
}

.popup-content p {
    margin: 10px 0 0;
    padding: 0 10px;
    text-align: center;
    color: #333;
    font-size: 1cap;
}

.close-btn {
    position: absolute;
    top: -0.5cap;
    right: 0.4cap;
    /* padding: 5px auto; */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 800px) {
    .gallery_sec {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        /* padding: 20px 10px; */
    }

    .gallery_sec img {
        height: 180px;
    }

    .parallax h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 600px) {
    .parallax {
        /* height: 300px; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .parallax h1 {
        font-size: 2em;
    }
    .gallery_sec {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 0;
        /* padding: 5px 2px; */
    }

    .gallery_sec img {
        height: 100px;
    }


}
@media (max-width: 400px) {
    .parallax {
        /* height: 300px; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .parallax h1 {
        font-size: 2em;
    }
    .gallery_sec {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-top: 0;
        /* padding: 5px 2px; */
    }

    .gallery_sec img {
        height: 150px;
    }


}